/* Write your CSS here */
.Checkout-btn {
  width: 100%;

  color: white;
  background-color: #0b69ff;
  border-radius: 5px;
  height: 36px;
  border: none;
}
.total-amount {
  color: black;
  font-size: 25px;
  font-weight: bold;
}
.CartSummary-container {
  padding: 20px;
  width: 100%;
  margin-bottom: 30px;
  align-self: center;
}
.order-total-text {
  color: #616e7c;
  font-weight: bold;
  font-size: 20px;
}
.Items-in-cart {
  color: #616e7c;
  font-weight: bold;
}

@media (min-width: 768px) {
  .CartSummary-container {
    align-self: flex-end;
    width: auto;
  }
}
